{% extends 'layout.twig' %}

{% block body %}
    <article class="uk-article">
        <h2 id="should">Should I wet the flower?</h2>
        <div id="advice"></div>
        <div class="uk-grid">
            <div class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box uk-panel-hover">yes</div>
            </div>
            <div class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box uk-panel-hover">no</div>
            </div>
            <div class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box uk-panel-hover">no</div>
            </div>
            <div class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box uk-panel-hover">no</div>
            </div>

            <div class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box uk-panel-hover">yes</div>
            </div>
            <div class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box uk-panel-hover">no</div>
            </div>
            <div class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box uk-panel-hover">no</div>
            </div>
            <div class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box uk-panel-hover">no</div>
            </div>
        </div>
    </article>

{% endblock %}
